<div class="change-password-container">
  @if (!isMobile) {
  <div class="change-password-left">
    <img
      src="register/confirm.svg"
      alt="Change Password Image"
      class="change-password-image" />
  </div>
  }

  <div class="change-password-right">
    <section class="change-password-card">
      <div class="logo-section">
        <img src="logo.svg" alt="Stonkz Logo" class="logo" />
      </div>
      <h2 class="change-password-title">Alterar senha</h2>
      <p class="change-password-subtitle">
        Digite sua senha atual e a nova senha.
      </p>

      <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
        <app-password-input
          label="Nova Senha"
          [control]="changePasswordForm.controls.newPassword">
        </app-password-input>

        <app-password-input
          label="Confirme a Nova Senha"
          [control]="changePasswordForm.controls.confirmPassword"
          [confirmControl]="changePasswordForm.controls.newPassword"
          [isConfirmPassword]="true">
        </app-password-input>

        <div style="margin-top: 16px">
          <app-button
            [label]="'Redefinir Senha'"
            [disabled]="isSubmitDisabled || isLoading()"
            [loading]="isLoading()"></app-button>
        </div>
      </form>
    </section>
  </div>
</div>
