<div class="password-container" [ngClass]="{ error: hasError }">
  <!-- Label e campo de senha com Angular Material -->
  <mat-form-field
    appearance="outline"
    [ngClass]="{ error: hasError }"
    [ngStyle]="{ width: width, height: height }">
    <mat-label>{{ label }}</mat-label>

    <input
      matInput
      [type]="showPassword ? 'text' : 'password'"
      [placeholder]="placeholder"
      [formControl]="control"
      (focus)="focused = true"
      (blur)="focused = false" />

    <!-- Ícone para mostrar/ocultar senha -->
    <mat-icon matSuffix (click)="togglePasswordVisibility()">
      {{ showPassword ? 'visibility_off' : 'visibility' }}
    </mat-icon>
  </mat-form-field>

  <!-- Critérios de senha (aparecem apenas no campo de confirmação) -->
  <ul *ngIf="control?.value && isConfirmPassword" class="password-criteria">
    <li [ngClass]="{ valid: passwordCriteria.length }">
      <mat-icon>{{
        passwordCriteria.length ? 'check_circle' : 'cancel'
      }}</mat-icon>
      Pelo menos 8 caracteres
    </li>
    <li [ngClass]="{ valid: passwordCriteria.uppercase }">
      <mat-icon>{{
        passwordCriteria.uppercase ? 'check_circle' : 'cancel'
      }}</mat-icon>
      Pelo menos uma letra maiúscula
    </li>
    <li [ngClass]="{ valid: passwordCriteria.lowercase }">
      <mat-icon>{{
        passwordCriteria.lowercase ? 'check_circle' : 'cancel'
      }}</mat-icon>
      Pelo menos uma letra minúscula
    </li>
    <li [ngClass]="{ valid: passwordCriteria.number }">
      <mat-icon>{{
        passwordCriteria.number ? 'check_circle' : 'cancel'
      }}</mat-icon>
      Pelo menos um número
    </li>
    <li [ngClass]="{ valid: passwordCriteria.special }">
      <mat-icon>{{
        passwordCriteria.special ? 'check_circle' : 'cancel'
      }}</mat-icon>
      Pelo menos um caractere especial (&#64;$!%*?&)
    </li>
    <!-- Validação de senhas iguais aparece só se validateMatch for true -->
    @if (validateMatch) {
    <li [ngClass]="{ valid: passwordCriteria.match }">
      <mat-icon>{{
        passwordCriteria.match ? 'check_circle' : 'cancel'
      }}</mat-icon>
      As senhas são iguais
    </li>
    }
  </ul>
</div>
