<div class="reset-password-container">
  @if (!isMobile) {
  <div class="reset-password-left">
    <img
      src="register/confirm.svg"
      alt="Reset Password Image"
      class="reset-password-image" />
  </div>
  }

  <div class="reset-password-right">
    <section class="reset-password-card">
      <div class="logo-section">
        <img src="logo.svg" alt="Stonkz Logo" class="logo" />
      </div>
      <h2 class="reset-password-title">Redefinir Senha</h2>
      <p class="reset-password-subtitle">
        Digite sua nova senha para redefinição.
      </p>

      <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
        <app-input
          label="Código"
          placeholder="Digite o código"
          type="text"
          mask="000-000"
          [control]="resetPasswordForm.controls.token"></app-input>

        <app-password-input
          label="Nova Senha"
          [control]="resetPasswordForm.controls.newPassword"
          [confirmControl]="resetPasswordForm.controls.newPassword"
          [isConfirmPassword]="true">
        </app-password-input>

        <div style="margin-top: 16px">
          <app-button
            [label]="'Redefinir Senha'"
            [disabled]="resetPasswordForm.invalid || isLoading()"
            [loading]="isLoading()"></app-button>
        </div>
      </form>
    </section>
  </div>
</div>
