<div class="forgot-password-container">
  @if (!isMobile) {
  <div class="forgot-password-left">
    <img
      src="register/forgot.svg"
      alt="Forgot Password Image"
      class="forgot-password-image" />
  </div>
  }

  <div class="forgot-password-right">
    <section class="forgot-password-card">
      <div class="logo-section">
        <img src="logo.svg" alt="Stonkz Logo" class="logo" />
      </div>
      <h2 class="forgot-password-title">
        Esqueceu sua senha?
        <a (click)="onLogin()" class="login-link">Não, Fazer login</a>
      </h2>
      <p class="forgot-password-subtitle">
        Digite seu e-mail para receber um link de redefinição.
      </p>

      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPassword()">
        <app-input
          label="E-mail"
          type="email"
          [control]="forgotPasswordForm.controls.email"></app-input>

        <app-button
          [label]="'Enviar Link'"
          [disabled]="forgotPasswordForm.invalid || isLoading()"
          [loading]="isLoading()"></app-button>
      </form>
    </section>
  </div>
</div>
